
        body {
              /* Typography Declarations */
              color: #e9edf1;
              font-size: 1em;
              font-family: "Open Sans", "Helvetica Neue", sans-serif;
              background-image: url("https://lh3.googleusercontent.com/yCVt9Z4hT0KWwc1cj6v4VlF1HV7adqaM0Un19Y5UygPgIE3mtEhj61pM7c9Eb5tiAboVvh2L7pf0R-mKUeVP2_6b_E-yWWN_T0DzEqONdrYf6ptLFJLZ4yH6Q3JrWYGKmGtfZ9hXYdzKW_CcOsdRFZdRNx3UTsmLcSPDRRVy-_2SSid6-3XY-k-JlIe40NF3zE7gmliu-A6XF151aJh1aC0AleGwC3bXqbMXEe6-JQlifXsAYiXAiuDk2OBhHB-ZrxZID1T5EejxWtqkMzupLvGJznDPbc1P3D3OwJ8rKM1VLD6yZIcCCwqYCamniSogqSdnXpZhB3bMMbbiEFa3lqn8bfEbyRnNnSVH9xpmts8Jna2Jy9oZHNj0Eg9rWGqX2Rf_WvvLC8v1yM4WP5aeCw1lLXKTDdf4DoY4b3fklDgDr15urNRWU-59duLAY48BYhFC32-uDpxa89sUvnZKuWkMd2oidrgNrszt6No9M30GVzVkkJxpKapa3jyxwj7wceWxHT1FJLdjMOUludouiQrUpyXXnItPpx7Mobd5uJKDZb0r_Es7EcLs-E4WlSMVBXAoapeGq3ElEm5lkBjhmxUyfkzYXhaq-i6gTONK0HG1LHyWXpyqZp1593hKIx_bTktMdYWocOUkndv8qE4OPBx8T8Ol1MM=w917-h741-no");
              background-repeat: no-repeat;
              background-size: cover;
              background-position: fixed;
              margin: auto;
              height: 100%; 
              width: 100%; 
          }

            
          .masthead-intro {
              /* Layout Declarations */
              margin-bottom: 0.1em;
              /* Typography Declarations */
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 2em;
          }
          
          
          .introduction-section,
          .location-section,
          .questions-section {
              max-width: 50em;
              margin-left: auto;
              margin-right: auto;
              margin-top: 0.2em;
          }
          
          .introduction-section > p,
          .location-section > p,
          .questions-section,
          .content-footer > p {
              /* Typography Declarations */
              font-weight: 500px;
              letter-spacing: 0.05em;
          }
          
          .questions-section > h2 {
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 1.2em;
              font-weight: bold;
              /* Layout */
              margin: 2em 0 1em 0;
          }
          
          section > h1 {
              margin-top: 0em;
              text-align: center;
          }

          
          .content-footer,
          .masthead-heading,
          .masthead-intro {
            text-align: center;
          }
          
          .masthead {
            padding: 9em 0;
            /* background-image: url('http://www.opencontrail.org/wp-content/uploads/2017/06/mesh-1430107.png'); */
            background-size: cover;
            background-repeat: no-repeat;
          }
          
          .masthead-intro {
            margin-bottom: 0.1em;
            font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 2em;
          }
          
          .masthead-heading {
            margin-top: -0.2em;
            margin-bottom: -0.5em;
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: bold;
            font-size: 6em;
            letter-spacing: -0.05em;
            text-transform: uppercase;
          }
          .introduction > p,
          .location > p,
          .content-footer > p {
              /* Typography Declarations */
              font-weight: 300;
              letter-spacing: 0.05em;
          }
          h2 {
              /* Typography Declarations */
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 1.2em;
              font-weight: bold;
          }
          
          .introduction-section,
          .location-section,
          .questions-section {
              max-width: 60em;
              margin-left: auto;
              margin-right: auto;
              margin-top: 0em;
          }
          

          .social > li, i {
            display: inline-block;
            justify-content: center;
            font-size: 25px;
            margin: 5px;
            padding-top: 5px;
            color:white;
          }

          a {
              font-weight: bold;
              text-decoration: none;
              color: #3a3f42;
          }

          img{
             block-size: 400px;
          }

            footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;    
            margin-top: 0px;
            padding: 0px;
            text-align: center;
            background-color: rgb(7, 39, 80);
          }
         