body {
  box-sizing: border-box;
  display: block;
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

* {
  border: 1px solid red;
  margin: 0px;
}

.section-one {
  position: relative;
  height: 600px;
  overflow: hidden;
}

.backdrop {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, .85);
  font-weight: bold;
}

.hamburger {
  float: left;
  margin-left: 15px;
}

.title-box {
  margin-left: 40px;
  float: left;
}

.button-capsule {
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  display: inline-block;
  padding: 12px;
  overflow: auto;
}

.button-capsule > li {
  display: inline;
  content:'';
  margin-right: 20px;
  padding: 1px;
}

.button-capsule > li > a, a:visited{
  text-decoration: none;
  color: black;
}

.button-capsule > li > a:hover {
  cursor: pointer;
  display: inline-block;
  color: #cc8d4c;
}

#nametag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 22px 0px 12px 0px;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  background-color: (255, 255, 255, .90);
  text-align: center;
}

#nametag > p {
  display: inline-block;
  padding: 4px;
}

#nametag > a {
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  color: #cc8d4c;
}

#nametag > a:hover {
  color: #000000;
}

.author {
  font-size: 2em;
}

#about {
  width: 100%;
  color: #fcfaf8;
  background-color: #5b4630;
}

.card > h2 {
  font-size: 2em;
  padding: 40px;
}

.card > p {
  font-size: 1em;
  padding: 40px;
}

#portfolio {
  width: 100%;
  background-color: #dac1a2;
}

#contact {
  background-color: #6c6053;
  width: 100%;
  color: #fcfaf8;
}


        body {
              /* Typography Declarations */
              color: #363b3f;
              font-size: 1em;
              font-family: "Open Sans", "Helvetica Neue", sans-serif;
          }
          
          .content-footer,
          .masthead-heading,
          .masthead-intro {
            text-align: center;
          }
          
          .masthead {
            padding: 6em 0;
            background-image: url('https://i.imgur.com/yGmrlyg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            border-top: solid 1em #95212c;
          }
          
          .masthead-intro {
              /* Layout Declarations */
              margin-bottom: 0.1em;
              /* Typography Declarations */
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 2em;
          }
          
          .masthead-heading {
              /* Layout Declarations */
              color: #363b3f;
              margin-top: -0.2em;
              /* Typography Declarations */
              font-family: "Open Sans", "Helvetica Neue", sans-serif;
              font-weight: bold;
              font-size: 6em;
              letter-spacing: -0.02em;
              text-transform: uppercase;
          }
          
          .introduction-section,
          .location-section,
          .questions-section {
              max-width: 38em;
              margin-left: auto;
              margin-right: auto;
              margin-top: 2em;
          }
          
          .introduction-section > p,
          .location-section > p,
          .questions-section,
          .content-footer > p {
              /* Typography Declarations */
              font-weight: 300;
              letter-spacing: 0.05em;
          }
          
          .questions-section > h2 {
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 1.2em;
              font-weight: bold;
              /* Layout */
              margin: 2em 0 1em 0;
          }
          
          section > h1 {
              margin-top: 2em;
          }
          
          .content-footer,
          .masthead-heading,
          .masthead-intro {
            text-align: center;
          }
          
          .masthead {
            padding: 6em 0;
            background-image: url('https://i.imgur.com/yGmrlyg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            border-top: solid 1em #73A8C2;
          }
          
          .masthead-intro {
            margin-bottom: 0.1em;
            font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 2em;
          }
          
          .masthead-heading {
            margin-top: -0.2em;
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            font-weight: bold;
            font-size: 6em;
            letter-spacing: -0.02em;
            text-transform: uppercase;
          }
          .introduction > p,
          .location > p,
          .content-footer > p {
              /* Typography Declarations */
              font-weight: 300;
              letter-spacing: 0.05em;
          }
          h2 {
              /* Typography Declarations */
              font-family: "Gentium Book Basic", Georgia, serif;
              font-size: 1.2em;
              font-weight: bold;
          }
          
          .introduction-section,
          .location-section,
          .questions-section {
              max-width: 38em;
              margin-left: auto;
              margin-right: auto;
              margin-top: 2em;
          }
          .content-footer {
            margin: 50px 0;
            padding: 20px 0;
            text-align: center;
            background-color: #73A8C2;
            text-decoration: none;
          }
          .social > li {
            display: inline-block;
            margin: 0 5px;
          }
          .content-footer > p {
            color: #F7EDE1;
          }
          a {
              font-weight: bold;
              text-decoration: none;
              color: #f2b91f;
          }
            
          @media only screen and (max-width: 500px) {
              .masthead {
                  padding: 3em 0;
              }
              .masthead-heading {
                  font-size: 3em;
              }
              .content-footer {
                  padding: 2em 2.5em;
            }
        }